.git
.github
docker/
environments/
tests/
.storage/
.storage-staging/
.telemetry/
.env
.env.staging
.env.production
.env.example
*.md
pytest.ini
requirements-test.txt
__pycache__/
**/__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
node_modules
**/.DS_Store
.cursor
.idea
*.log
service_account.json
.gitignore
.dockerignore
